body {
  padding-top: 80px;
  word-wrap: break-word;
  background-color: #FEF7E0;
}

img {
  height: 200px;
}

.jumbotron {
  background-image: url('img/chore.gif');
  height: 700px;
  background-size: cover
}


.jumbotron h1{
margin-top: 0;
margin-bottom: 10%;
}

.jumbotron{
  margin-bottom: 3%;
  font-size: 26px;
}

.form-control{
  width: 60% !important;
}

.col-sm-6{
  margin-left: 34% !important;
  margin-top: 2% !important;
}

.btn-lg{
  background-color: #7357a0 !important;
  border: none !important;
  margin-left: 23% !important;
  margin-top: 2% !important;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 16%;
}

hr{
  border-top: none !important;
}

p{
  margin-left: 15%;
}

.login{
  margin-left: 0;
}

.main{
  margin-right: 4%;
}
